.background{
    z-index: -1;
    filter: blur(6px);
   
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
 .maincontainer{
    margin-top: 100px;
    margin-left: 150px;
    margin-right:150px;
} 
.container{
    font-size:x-large;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.one{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left:60px;
    margin-bottom: 41px;
    font-size:60px;
}
.add{
    display: flex;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-right:105px;
    margin-top: 18px;
    
}
.icon{
    text-decoration: none;
    color: red ;
    font-size: 30px;
     width: 47px;
    height: 19px; 
text-align:center ;
    margin-top:18px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
}
.boxcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    margin :auto;
    text-align: center;
   
}
.box{
    margin: auto;
    border:1px solid red;
    border-radius: 12px;
    box-shadow: 5px 5px 12px grey;
    height: 361px;
    width: 240px;
}
.heading{
    font-size: 32px;
    color:red;
    padding-top: 20px;
    padding-bottom:10px ;
}
.checkbox{
    text-align:left;
    font-size: 24px;
}

            .addlist{
                z-index: 1;
                border:1px solid red;
        border-radius: 12px;
        color:red;
        text-align: center;
        height: 195px;
        width: 382px;
        position: relative;
        top: -276px;
        left: 448px;
        left: 476px;
        background-color: white;
    }
    button{
        background-color: red;
        border:1px solid red;
        border-radius: 22px;
        color: white;
        height: 35px;
        width: 81px;
    }
    
    .border{
        border:1px solid red;
        height: 37px;
        width: 250px;}
    
  

@media only screen and (min-width:320px)and (max-width:480px) {
    .maincontainer{
      
        margin:auto;
    }
    
.boxcontainer{
   
    text-align: center;
    display:flex;
    flex-direction: column;
   
}

.box{
    margin: auto;
    border:1px solid red;
    border-radius: 12px;
    box-shadow: 5px 5px 12px grey;
    height:max-content;
    width:90vw;
    margin-bottom: 20px;
}

.heading{
    font-size: 32px;
    color:red;
    padding-top: 20px;
    padding-bottom:10px ;
}
.content{
    display: none;
}
.content1{
    display:none;
}

.one{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top:30px;
    margin-left:10px;
    margin-bottom: 41px;
    font-size:40px;
}
.icon{
    margin-top:18px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
}
.add{

    margin-right:10px;
    margin-top: 26px;
    
}

.addlist{
    z-index: 1;
    
text-align: center;
height: 195px;
width: 90vw;
top: -270px;
left: 6px;
}
}      